* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  min-height: 100%;
}
body {
  background: #e4fff7;
  color: #161616;
  font-size: 16px;
}
h1 {
  text-align: center;
  font-family: Verdana, sans-serif;
  color: darkred;
  padding: 10px;
  text-shadow:2px 2px #161616;
}